################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TUA_DB/bin/Debug
/.vs/TUA_DB/FileContentIndex
/TUA_DB/obj/Debug
*.jfm
